// Widaget header 
.widaget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widaget-header {
  background: $blue;
  color: $of-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widaget-header__title {
  margin: 0;
}

.widaget__message {
  border-bottom: 1px solid lighten($light-blue, 10%);
  color: $of-white;
  margin: 0;
  padding: $l-size;
  text-align: center;

}